// colors
$navy-blue-color: #0e090d;
$pink-color: #f24b78;
$peachy-color: #f29d52;
$dark-blue-color: #495abf;
$light-blue-color: #305ad9;
$white-color: #fff;
$black-color: #000;

// font
$font-family-regular: "MangoGrotesque";

@font-face {
  font-family: MangoGrotesque;
  src: url("./../font/MangoGrotesque-Medium.ttf");
}
