// colors
$navy-blue-color: #0e090d;
$pink-color: #F24B78;
$peachy-color: #F29D52;
$dark-blue-color: #495ABF;
$light-blue-color: #305AD9;
$white-color: #fff;
$black-color: #000;

// font
$font-size-header:32px;
$font-size-regular: 20px;

$font-family: 'MangoGrotesque';

@font-face {
    font-family: MangoGrotesque;
    src: url("./../font/MangoGrotesque-Medium.ttf");
  }

