// colors
$navy-blue-color: #0e090d;
$pink-color: #f24b78;
$peachy-color: #f29d52;
$dark-blue-color: #495abf;
$light-blue-color: #305ad9;
$white-color: #fff;
$black-color: #000;

// font
$font-size-large: 100px;
$font-size-medium: 32px;
$font-size-regular: 20px;

$font-family-regular: "MangoGrotesque";
$font-family-caveat: "Caveat";

@font-face {
  font-family: MangoGrotesque;
  src: url("./../font/MangoGrotesque-Medium.ttf");
}

@font-face {
  font-family: Caveat;
  src: url("./../font/Caveat-Bold.ttf");
}
