@import "./../assets/scss/variables";

.app {
  &__lang {
    position: fixed;
    z-index: 100;
    background-color: $pink-color;
    width: max-content;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
    padding: 2px 10px;
  }
}
