@import "./../../../assets/scss/variables";

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-large;
  color: $pink-color;
  letter-spacing: 5px;
  gap: 30px;

  &__mail {
    cursor: pointer;
  }

  &__links {
    display: flex;
    font-size: $font-size-medium;
    gap: 55px;
    letter-spacing: normal;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $white-color;
    }
  }
}
