@import "./../../../assets/scss/variables";

.contact {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: $pink-color;
  gap: 30px;

  &__mail {
    cursor: pointer;
  }

  &__links {
    display: flex;
    font-size: 18px;
    gap: 10px;
    letter-spacing: normal;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $white-color;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    height: 100vh;
    font-size: 100px;
    color: $pink-color;
    gap: 30px;

    &__links {
      font-size: 32px;
      gap: 55px;
    }
  }
}
