@import "./../../../assets/scss/variables";

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 50px;
    font-weight: 100;

    &-link {
      cursor: pointer;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;

    &-item {
      color: $black-color;
      background-color: $white-color;
      width: max-content;
      padding: 1px 10px;
      border-radius: 16px;
      border: 1px solid $pink-color;
      box-shadow: 2px 5px $pink-color;
    }
  }

  @media screen and (min-width: 768px) {
    &__title {
      font-size: 100px;
    }
  }
}
