@import "./../../../assets/scss/variables";

.about {
  margin: 100px 0;
  display: grid;
  grid-template-areas:
    "logo"
    "position"
    "name";

  &__user {
    grid-area: name;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-name {
      font-size: 70px;
    }

    &-subtitle {
      font-size: 28px;

      &--dot {
        margin-right: 8px;
        color: $pink-color;
        text-shadow: 0 0 10px $white-color;
      }
    }
  }

  &__image {
    grid-area: logo;
    display: flex;
    justify-content: center;

    img {
      margin: 20px;
      width: 100px;
      animation: pulse-shadow 3s infinite ease-in-out;
    }
  }

  &__position {
    text-align: center;
    grid-area: position;
    font-size: 32px;
    white-space: wrap;
  }

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__user {
      width: 300px;
      align-items: flex-end;
      text-align: end;
    }

    &__image {
      img {
        width: 200px;
      }
    }

    &__position {
      width: 300px;
      text-align: start;
      font-size: 70px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 100px;

    &__user {
      width: 330px;

      &-name {
        font-size: 100px;
      }

      &-subtitle {
        font-size: 38px;
      }
    }

    &__image {
      img {
        width: 500px;
      }
    }

    &__position {
      font-size: 100px;
      width: 330px;
    }
  }
}

@keyframes pulse-shadow {
  0%,
  100% {
    filter: drop-shadow(1px 1px 100px rgba($pink-color, 0.5));
  }
  50% {
    filter: drop-shadow(10px 10px 100px $pink-color);
  }
}
