@import "./../../../assets/scss/variables";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-header;

  &__user {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-subtitle {
      font-size: $font-size-logo;

      &--dot {
        margin-right: 8px;
        color: $pink-color;
        text-shadow: 0 0 10px white;
      }
    }
  }

  &__image {
    position: relative;
    height: auto;
    margin: 0 30px;
    padding: 1rem;
    box-shadow: none;
    animation: pulse-shadow 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &__me {
      height: 400px;
      z-index: 1;
      position: absolute;
    }

    &__tulip {
      opacity: 0.5;
      height: 600px;
    }
  }

  &__position {
    width: 33%;
    display: flex;
    flex-direction: column;
    white-space: wrap;
    white-space: pre-line;
  }
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(0 0 30px rgba($pink-color, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 60px $pink-color);
  }
  100% {
    filter: drop-shadow(0 0 30px rgba($pink-color, 0.4));
  }
}
