@import "./../../../assets/scss/variables";
@import "./../../../assets/scss/mixins";

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem 5rem 0;
    letter-spacing: 1px;
    white-space: nowrap;
  
    &__logo {
      font-size: $font-size-logo;
    }
  
    &__menu {
      list-style: none;
      display: flex;
      gap: 2rem;
  
      &-element {
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        @include textStyle($white-color);
        
        &--dot {
          color: $pink-color;
          text-shadow: 0 0 10px white;
        }
      }
    }
  }